name: Kiosk-front

on:
  pull_request:
    types: [closed]
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged

    steps:
      - uses: actions/checkout@v3

      - name: executing remote ssh commands using password
        if: github.event_name == 'pull_request'
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          port: ${{secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd ${{ secrets.WEB_PATH }} && git pull
            npm install
            npm build
            pm2 reload main
